*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-msg {
    color: red;
}
.header {
    text-align: center;
    padding: 50px 0 50px 0;
}
.main {
    display: flex;
    align-items: center;
    background-color: rgb(252, 243, 232);
    justify-content: center;
}
.display-container {
    width: 1024px;
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
    align-content: space-between;
    align-items: stretch;
    gap: 2%;
}
.task-container {
    width: 100%;
}
.task-input {
    border: 1px solid blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 100%;
    padding: 10px 20px;
}
input:focus {
    outline: 0;
    border: 1px solid rgb(111, 111, 247);
}

.add-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 33%;
}

#add-task {
    padding: 5px 10px;
    background-color: rgb(111, 111, 247);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    outline: none;
    border-width: 0;
    font-size: 20px;
}
.task-list {list-style: none;}
.task-list li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.task-in-progress {
    width: 30%;
}
.completed-tasks {
    width: 30%;
}