*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-msg {
    color: red;
}
.header {
    text-align: center;
    padding: 50px 0 50px 0;
}
.main {
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    background-color: rgb(252, 243, 232);
    padding: 100px 0 100px 0;
}

.task-input {
    border: 1px solid blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 100%;
    padding: 10px 20px;
}
input:focus {
    outline: 0;
    border: 1px solid rgb(111, 111, 247);
}

.add-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

#add-task {
    padding: 5px 10px;
    background-color: rgb(111, 111, 247);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    outline: none;
    border-width: 0;
    font-size: 20px;
}