*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-msg {
    color: red;
}
.header {
    text-align: center;
    padding: 50px 0 50px 0;
}
.main {
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    background-color: rgb(252, 243, 232);
    padding: 100px 0 100px 0;
}